.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#topBar {
  top: 0;
  vertical-align: bottom;
  background-color: black;
  color: white;
  font-weight: bolder;
  text-align: center;
  padding-right: 2rem;
  position: absolute;
  right: 0;
  opacity: 0.85;
  border-radius: 0;
}

#bottomBar {
  bottom: 0;
  vertical-align: bottom;
  background-color: black;
  color: white;
  font-weight: bolder;
  text-align: right;
  padding-right: 2rem;
  position: absolute;
  right: 0;
  opacity: 0.85;
  border-radius: 0;
  font-size: 0.5rem;
}

#middle {
  height: 80%;
  width: 90%;
  background-color: white;
  border-radius: 10px;
  opacity: 0.75;
  padding: 3%;
  display: flex;
  flex-direction: column;

  font-size: 250%;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  #middle {
    width: 100%;
    height: 85%;
    padding-bottom: 25%;
  }
  .ui.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
  }
}
