#middle {
  height: 80%;
  background-color: black;
  border-radius: 10px;
  opacity: 0.85;
  padding: 3%;

  display: flex;
  flex-direction: column;

  font-size: 250%;
}

body {
  background: url('https://wallpapercave.com/wp/wp2017235.jpg') no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
