.segment.selectedOption {
  background: #f5c542;
  color: black;
}

.segment.optionSegments {
  color: black;
}

.buttonSegEnabled {
  cursor: pointer;
}

.buttonSegDisabled {
  cursor: auto;
}

.textArea {
  max-width: 100%;
  font-size: 70%;
}

.segContainer {
  margin: 0.5rem;
}

#questionTitleHeader {
  color: white;
}

.questionBlock {
  background-color: white;
  padding: 3%;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* normal styling*/
@media (min-width: 600px) {
  .selectButtons {
    width: 45%;
  }
}

/* mobile styling */
@media (max-width: 600px) {
  .selectButtons {
    width: 100%;
  }

  .questionBlock {
    padding: 6%;
  }

  .bottomButtons {
    left: 0;
  }

  .buttonSegEnabled {
    font-size: 0.8rem !important;
  }

  .buttonSegDisabled {
    font-size: 0.8rem !important;
  }
}
